/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Hero Style */
.cta-btn--hero {
  background-image: linear-gradient(135deg, $dark-blue-text 0%, $secondary-color 100%);
  border: 2px solid white;
  -webkit-background-clip: border-box;
  -webkit-text-fill-color: white;
  // border-width: 2px;
  // border-style: solid;
  //border-image: linear-gradient(135deg, #242424 0%, #1a1630 100%);
  border-image-slice: 1;
  cursor: pointer;
  // Responsive Button hero style
  @include respond(phone) {
    background-image: none;
    border: 2px solid $secondary-color;
    -webkit-text-fill-color: $secondary-color;
  }

  &::after {
    background-image: linear-gradient(135deg, $dark-blue-text 0%, $primary-color 100%);
    //background-color: white;
    // Responsive Button hero style
    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    //-webkit-text-fill-color: $primary-color;
    text-decoration: none;
    // Responsive Button hover hero style
    @include respond(phone) {
      webkit-text-fill-color: $secondary-color;
    }

    &::after {
      width: 100%;
    }
  }
}

/* Resume Style */
.cta-btn--resume {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}

/* Project Style */
.cta-btn--project {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  border-image-slice: 1;
  cursor: pointer;
  // Responsive Button hero style
  @include respond(phone) {
    background-image: none;
    border: 2px solid $secondary-color;
    -webkit-text-fill-color: $secondary-color;
  }

  &::after {
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    // Responsive Button hero style
    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: $white-color;
    text-decoration: none;
    // Responsive Button hover hero style
    @include respond(phone) {
      webkit-text-fill-color: $secondary-color;
    }

    &::after {
      width: 100%;
    }
  }
}

.show-hide-btns{
  display: flex;
  justify-content: center;
}

.go-left{
  transition: 0.5s ease-in-out;
  transform: translate(-39.5em,0);
}

.go-right{
  transition: 0.5s ease-in-out;
  transform: translate(0em,0);
}

.toggle-projects {
  font-size: $big-font-size;
  width: 8em;
  display: flex;
  margin-bottom: 20px;
  

  img {
    width: 1.4em;
  }

  span{
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  &:hover{
    img{
      filter: invert(100%);
      -webkit-filter: invert(100%);
    }
  }
}